# 忽略 JetBrains (PyCharm) 的配置文件
/.idea

# 忽略 Python 自动生成的文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略 Python 虚拟环境
venv/
env/
.venv/

# 忽略 pip 生成的包文件夹
*.egg-info/
dist/
build/

# 忽略常见的系统文件
.DS_Store

# 忽略环境变量文件 (通常用于存放敏感信息)
.env
.idea/vcs.xml
